:root {
    --padding: 100px;
    --main-color: #2196F3;
    --red: #f44036;
    --bg-red: #f4403670;
    --green: #009688;
    --bg-green: #00968870;
    --blue: #03a9f4;
    --bg-blue: #03a9f470;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 323px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 965px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


body {
    font-family: 'Cairo', sans-serif;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 2;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    header ul {
        flex-direction: column;
        width: 100%;
    }
    header a,
    header ul li {
        width: 100%;
    }
}

header ul li {
    padding: 10px 30px;
    transition: .5s linear;
    position: relative;
    z-index: 2;
}

header ul li::before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: .5s linear;
}

header ul li:nth-child(odd)::before {
    left: 0;
}

header ul li:nth-child(even)::before {
    right: 0;
}




header ul li:hover {
    background-color: #eee7;
    color: var(--main-color);
}

header ul li:hover::before {
    width: 100%;
}

@media (max-width: 767px) {
    header ul li::before {
        height: 100%;
        z-index: -1;
    }
    header ul li:hover {
        background-color: transparent;
        color: #fff;
    }
}


header a {
    color: var(--main-color);
    font-size: 40px;
    text-decoration: none;
    padding: 0 20px;
    transition: .5s linear;font-family: 'Akronim', cursive;
}


header a span {
    color: #F37E21;
    transition: .5s linear;
}
header a:hover span {
    color: var(--main-color);
}

header a:hover {
    background-color: #eee7;
    color: #F37E21;
}



.landing {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    min-height: calc(100vh - 70px);
    margin-left: auto;
    margin-right: auto;
}

.landing::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}

.landing::before {
    content: '\f103';
    position: absolute;
    font-size: 20px;
    color: var(--main-color);
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    bottom: 0;
    left: 50%;
    animation: top .9s infinite linear;
}


@keyframes top {
    from {
        bottom: 0;
    }
    to {
        bottom: 20px;
    }
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .image,
.landing .text {
    flex-basis: 50%;
}

.landing .image{
    animation: move infinite 3s linear alternate;
    position: relative;
}

.landing .text {
    padding: 50px;
    margin-top: 80px;
    animation: move infinite 5s linear alternate;
    position: relative;
}

@media (max-width: 767px) {
    .landing .text {
        padding: 50px 10px;
        margin-top: 0;
        animation: move-1 infinite 7s linear alternate;
    }
}


.landing .text h1 {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 10px;
}

.landing .text h1 span {
    font-size: 50px;
    color: var(--main-color);
    transition: .5s linear;
    font-family: 'Akronim', cursive;
    font-weight: normal;
}

.landing .text h1 span span {
    color: #F37E21;
}

.landing .text p {
    line-height: 1.7;
    color: #777;
}


@media (max-width: 767px) {
    .landing .image {
        display: none;
    }

    .landing .text {
        flex-basis: 100%;
        text-align: center;
    }
}

@keyframes move {
    0%{
        top: 0px;
    }

    100% {
        top: 80px;
    }

}

@keyframes move-1 {
    0%{
        top: -20px;
    }

    100% {
        top: 90px;
    }

}


.landing .image img {
    width: 100%;
}



.articles {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h2.head {
    border: 2px solid #000;
    padding: 3px 36px;
    width: fit-content;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-size: 27px;
    position: relative;
    transition: .3s;
    transition-delay: .1s;
    margin-bottom: 70px;
    z-index: 2;
}
h2.head:hover {
    border-color: #fff;
    color: #fff;
}

h2.head::after,
h2.head::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    z-index: 1;   
}

h2.head::after {
    right: -30px;
}



h2.head:hover::after {
    z-index: -1;
    animation: move-right .5s linear forwards;
}

@keyframes move-right {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        height: 100%;
        width: 51%;
        border-radius: 0;
    }
}


h2.head::before {
    left: -30px;
}

@media (max-width: 322px) {
    h2.head::before {
        left: -20px;
    } 
    h2.head::after {
        right: -20px;
    }
}

h2.head:hover::before {
    animation: move-left .5s linear forwards;
    z-index: -1;
}


@keyframes move-left {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
    }
}



.articles .articles-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.articles .articles-content .col {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    flex-basis: calc(25% - 30px);
    transition: .5s linear;
}

@media (max-width: 992px) {
    .articles .articles-content .col {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .articles .articles-content .col {
        flex-basis: 100%;
    }
}

.articles .articles-content .col:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(-15px);
}

.articles .articles-content .col:hover i {
    animation: right-1 infinite 1s;
}


@keyframes right-1 {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: 10px;
    }
}

.articles .articles-content .text {
    padding: 15px 20px;
}

.articles .articles-content .text p {
    color: #777;
    font-size: 14px;
}

.articles .articles-content .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    padding: 15px 20px;
    border-top: 1px solid #6666;
}


.articles .articles-content .image {
    overflow: hidden;
}

.articles .articles-content .image img {
    width: 100%;
}


.articles::after,
.gallery::after,
.features::after,
.testimonials::after,
.team::after,
.services::after,
.skills::after,
.works::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    background-size: 30px 30px;
    bottom: -30px;
}

.articles::after {
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), 
                      linear-gradient(225deg, #fff 25%, transparent 25%);
                      
}




.gallery {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    z-index: 1;
}

.gallery .gallery-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.gallery .col {
    border: 10px solid #fff;
    overflow: hidden;
    transition: 1s linear;
    position: relative;
}

@media (max-width: 321px) {
    .gallery .gallery-content {
        gap: 30px 0px;
    }
    .gallery .col {
        border-width: 5px;
        box-shadow: 0 0 1px 0 #000;
    }
}



.gallery .col:hover img{
    transform:scale(1.1) rotate(6deg);
    position: relative;
}

.gallery .col img {
    width: 100%;
    height: 100%;
    display: block;
    
}

.gallery .col::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s linear;
}

.gallery .col:hover::before {
    width: 100%;
    height: 100%;
}

.gallery::after {
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), 
                      linear-gradient(225deg, #ececec 25%, transparent  25%);
}






.features {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    margin-left: auto;
    margin-right: auto;
    background-color: #fff; 
    position: relative;   
}




.features-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 40px;
    
}

.features-content .col {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: .5s linear;
    border-radius: 4px;
}




.features-content .image {
    position: relative;
    overflow: hidden;

}

.features-content .image img {
    width: 100%;
}

.features-content .image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.features-content .col.red .image::before {
    background-color: var(--bg-red);
}

.features-content .col.green .image::before {
    background-color: var(--bg-green);
}

.features-content .col.blue .image::before {
    background-color: var(--bg-blue);
}


.features-content .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    border-width: 0 0 170px 500px;
    border-style: solid;
    transition: .2s linear;
}

.features-content .col:hover .image::after {
    border-width: 170px 500px 170px 0px;
    right: -25px;
}


.features-content .col .text {
    padding: 20px;
    padding-top: 0;
}
.features-content .col .text h3{
    font-size: 40px;
    width: fit-content;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 8px;

}

.features-content .col .text h3::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 5px;
    bottom: 0;
    left: 15%;
}

.features-content .col.red .text h3::after {
    background-color: var(--red);
}
.features-content .col.green .text h3::after {
    background-color: var(--green);
}.features-content .col.blue .text h3::after {
    background-color: var(--blue);
}

.features-content .col .text p {
    color: #888;
    font-size: 20px;
    margin-bottom: 30px;
}

.features-content .col .text a {
    display: block;
    background-color: transparent;
    width: fit-content;
    margin: 40px auto 20px;
    padding: 4px 32px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid;
    font-size: 22px;
    transition: .3s linear;
   background-size: 200% 100%;
    background-position: right bottom;
}



.features-content .col.red .text a {
    color: var(--red);
    border-color:  var(--red);
}

.features-content .col.green .text a {
    color: var(--green);
    border-color:  var(--green);
}

.features-content .col.blue .text a {
    color: var(--blue);
    border-color:  var(--blue);
}


.features-content .col:hover .text a {
    color: #fff;
    background-position: left bottom;
}
.features-content .col.red:hover .text a {
    background-image: linear-gradient(to right, #f44036 50%, #fff 50%);  
}
.features-content .col.green:hover .text a { 
    background-image: linear-gradient(to right, #009688 50%, #fff 50%);
}
.features-content .col.blue:hover .text a {
    background-image: linear-gradient(to right, #03a9f4 50%, #fff 50%);

}

.features::after {
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), 
                      linear-gradient(225deg, #fff 25%, transparent 25%);
                      
}




.testimonials {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    z-index: 1;
}

.testimonials .testi-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 120px;
}

.testimonials .testi-content .col {
    background-color: #fff;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    
}

.testimonials .testi-content .col img {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ececec;
    right: -10px;
    top: -50px;
}

@media (max-width: 323px) {
    .testimonials .testi-content .col img {
        transform: translate(0px, -50%);
    } 
}

.testimonials .testi-content .col p {
    color: #777;
    font-size: 16px;
}

.testimonials .testi-content ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

.testimonials .testi-content ul .fa-solid {
    color: #ffc107;
}


.testimonials::after {
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), 
                      linear-gradient(225deg, #ececec 25%, transparent 25%);               
}







.team {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;    
}

.team .team-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 40px;
}

.team .team-content .col {
    position: relative;
    padding-top: 35px;
    background-color: #fff;
    z-index: 1;
}

.team .team-content .col::before {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% - 70px);
    background-color: #f3f3f3;
    right: 0;
    top: 0;
    z-index: -2;
}

.team .team-content .col::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background-color:#e4e4e4;
    right: 0;
    top: 0;
    z-index: -1;
    transition: .5s linear;
}

.team .team-content .col:hover::after {
    width: calc(100% - 70px);
    
}

@media(max-width: 426px) {
    .team .team-content .col:hover::after,
    .team .team-content .col::before {
        width: 100%;
    }
    .team .team-content .col {
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
    }
}


.team .team-content .row {
    display: flex;
    align-items: center;
}


@media (max-width: 426px) {
    .team .team-content .row {
        flex-direction: column;
        gap: 10px;
    }
}

.team .team-content .row img {
    width: calc(100% - 70px);
    border-radius: 10px;
    transition: .5s linear;
    transition-delay: .1s;
}

.team .team-content .col:hover img {
    filter: grayscale(100%);
}

.team .team-content .row ul {
    width: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 426px) {
    .team .team-content .row ul {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .team .team-content .row img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    } 
}

.team .team-content .row ul li {
    color: #666;
    font-size: 20px;
    transition: .5s linear;
}

.team .team-content .col ul li:hover{
    color: var(--main-color);
}


.team .team-content .col .text {
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 426px) {
    .team .team-content .col .text {
        padding-left: 0;
        text-align: center;
        margin: auto;
    }
    .team .team-content .col .text h3 {
        font-size: 34px;
    }
}

.team .team-content .col .text h3 {
    color: var(--main-color);
    transition: .5s linear;
    transition-delay: .3s;

}

.team .team-content .col:hover .text h3 {
    color: #777;
}


.team::after {
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), 
                      linear-gradient(225deg, #fff 25%, transparent 25%);
                      
}



.services {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
}


.services .serv-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .serv-content .col {
    background-color: #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
                rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    counter-increment: serv;
    transition: .5s linear;
    position: relative;
}

.services .serv-content .col::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 6px;
    opacity: 0;
    background-color: var(--main-color);
    transition: .5s linear;

}

.services .serv-content .col:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 5px, 
                rgba(0, 0, 0, 0.3) 0px 17px 6px -3px, 
                rgba(0, 0, 0, 0.2) 0px -8px 0px inset;
}

.services .serv-content .col:hover::after {
    width: 100%;
    left: 0;
    opacity: 1;
}

.services .serv-content .col .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 30px;
    gap: 15px;
}

.services .serv-content .col .body i {
    color: #d5d5d5;
}


.services .serv-content .col .body h3 {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 15px;
}

.services .serv-content .col .footer {
    text-align: right;
    background-color: #f0f0f0;
    padding: 15px;
    position: relative;
}

.services .serv-content .col .footer::after {
    content:'0' counter(serv);
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    background-color: var(--main-color);
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    padding-right: 30px;
}

.services .serv-content .col .footer::before {
    content: '';
    position: absolute;
    left: 80px;
    top: 0;
    background-color: #d5d5d5;
    height: 100%;
    width: 50px;
    transform: skewX(-30deg);
    z-index: 1;
}

.services .serv-content .col .footer a {
    text-decoration: none;
    color: var(--main-color);

}

.services::after {
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), 
                      linear-gradient(225deg, #ececec 25%, transparent 25%);
                      
}


.skills {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.skills .skill-content {
    display: flex;
    align-items: center;
    gap: 40px;
}



.skills .image {
    flex-basis: 40%;
}


.skills .image img {
    width: 100%;
}



.skills .progress {
    flex-basis: 60%;
}

@media (max-width: 769px) {
    .skills .image {
        display: none;
    } 
    .skills .progress {
        flex-basis: 100%;
    }
}

.skills .progress p {
    font-weight: 700;
    font-size: 20px;    
}

.skills .progress > div {
    margin-bottom: 20px;
    height: 30px;
    background-color: #ececec;
    position: relative;
    margin-top: 5px;
}


.skills .progress > div  div {
    background-color: var(--main-color);
    height: 100%;
}

.skills .progress > div div::after {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: -35px;
    color: #2196F3;
    border: 1px solid #ccc;
    padding: 0 6px;
    font-size: 14px;
    font-weight: 800;
    border-radius: 4px;
}



.skills::after {
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), 
                      linear-gradient(225deg, #fff 25%, transparent 25%);
}



.works {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
}

.works .work-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.works .work-content .image {
    flex-basis: 50%;
    width: 300px;
}

.works .work-content .image img {
    
    max-width: 100%;
}

.works .work-content .text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-basis: 50%;
}

.works .work-content .text .col {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #f6f6f6;
    padding: 25px;
    border: 2.5px solid #fff;
}

.works .work-content .text .col img {
    display: block;
    height: 70px;
}


@media (max-width:769px) {
    .works .work-content {
        flex-direction: column;
    }
    .works .work-content .text .col {
        flex-direction: column;
        text-align: center;
    }
}

.works::after {
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), 
                      linear-gradient(225deg, #ececec 25%, transparent 25%);
                      
}
























